*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

h1{
    color: Green;
    text-align: center;
}

table, tr, td {
  border : 3px solid black;
 
}

td{
  width: 50px;
  height: 50px;
}

table{
  display: inline-block;
  margin-left:50px;

}

#player{
  background-color: antiquewhite;
}

#opponent{
  background-color: lightskyblue;
}

caption{
  font-size: 40px;
  font-style: bold;
  color:red;
}

a{
  display:block;
  width:100%;
  height:100%;
}

a:hover{
  background-color: red;
}